Repository FRONT-END-BOOTCAMP-PLUS-3/A-maewoClub, pull requests merged in 2025-02, with the labels that each got.

#95 커뮤니티 - 서치바 컴포넌트 분리
  app/(user)/boards/page.tsx
  components/board/overview/overview.style.ts
  components/board/overview/overview.tsx
  components/board/searchBar/searchBar.style.ts
  components/board/searchBar/searchBar.tsx
Labels: board

#96 [Fix] 02/03 RomanneChoiti fix,fileName #80
  application/recipe/DfRecipeCommentListUsecase.ts
  application/recipe/DfRecipeCommentUsecase.ts
  application/recipe/DfRecipeDetailUsecase.ts
  application/recipe/DfRecipeListUsecase.ts
  application/recipe/DfRecipeReviewUsecase.ts
  application/recipe/dto/RecipeCommentDto.ts
  application/recipe/dto/RecipeCommentListDto.ts
  domain/entities/recipes/RecipeComment.ts
  domain/entities/recipes/RecipeCommentImage.ts
  domain/repositories/recipes/RecipeCommentImageRepository.ts
  domain/repositories/recipes/RecipeCommentRepository.ts
  domain/repositories/recipes/RecipeReviewImageRepository.ts
  domain/repositories/recipes/RecipeReviewRepository.ts
  infrastructure/repostiories/boards/SbBoardRepostory.ts
  infrastructure/repostiories/recipes/SbRecipeCommentImageRepository.ts
  infrastructure/repostiories/recipes/SbRecipeCommentRepository.ts
  infrastructure/repostiories/recipes/SbRecipeRepository.ts
Labels: recipe

#101 [Feat] 02/03 RomanneChoiti infra/domain Step #80
  domain/repositories/recipes/RecipeStepRepository.ts
  infrastructure/repostiories/recipes/SbRecipeStepRepository.ts
Labels: recipe

#104 [Feat] 02/03 hanjeonghyun 커뮤니티 댓글 엔티티 추가 #103
  domain/entities/boards/BoardComment.ts
Labels: board

#108 [Feat] 02/03 hanjeonghyun 인프라 코드 추가 및 쿼리 수정 #107
  domain/repositories/boards/BoardCommentRepository.ts
  infrastructure/repostiories/boards/SbBoardCommentRepository.ts
  infrastructure/repostiories/boards/SbBoardImageRepository.ts
Labels: board

#110 [Feat] 02/03 hanjeonghyun 유저 엔티티 추가 #109
  domain/entities/admin/User.ts
Labels: admin

#115 [Feat] 02/03 hyun9758 보드 태그 수정 #111
  components/board/optionButton/optionButton.tsx
Labels: board

#116 [Fix] 02/03 hanjeonghyun SearchBar 컴포넌트스타일오류 수정 #114
  components/board/overview/overview.style.ts
  components/board/searchBar/searchBar.style.ts
Labels: board

#119 [Style] 02/03 hanjeonghyun 메인페이지 스타일 변경 #117
  components/index/pages/subPage.style.ts
Labels: board

#123 [Style] 02/03 hanejeonghyun 메인페이지 너비 조절 #122
  components/index/pages/subPage.style.ts
  components/index/pages/subPage.tsx
Labels: main

#125 [Feat] 어드민 - 재사용 테이블 컴포넌트 구현
  app/admin/users/page.tsx
  components/index/admin/table/table.style.ts
  components/index/admin/table/table.tsx
Labels: recipe

#121 [Feat] 02/03 hyun9758 커뮤니티 어댑터 작성 #118
  app/api/boards/route.ts
  app/api/recipes/route.ts
  application/boards/DfBoardDetailUsecase.ts
  application/boards/DfBoardListUsecase.ts
  domain/repositories/boards/BoardImageRepository.ts
  infrastructure/repositories/boards/SbBoardCommentRepository.ts
Labels: board

#129 [Feat] 02/04 hyun9758 커뮤니티 - Image Usecase #128
  application/boards/DfBoardListUsecase.ts
  domain/repositories/boards/BoardImageRepository.ts
Labels: board

#137 Feat/romanee choiti/#113
  app/api/comment/route.ts
  app/api/recipe-comments/route.ts
  app/api/recipes/[id]/route.ts
  application/recipe/DfRecipeCommentListUsecase.ts
  application/recipe/DfRecipeCommentUsecase.ts
  application/recipe/DfRecipeDetailUsecase.ts
  application/recipe/dto/RecipeCommentDto.ts
  domain/entities/recipes/RecipeComment.ts
  domain/repositories/recipes/RecipeCommentImageRepository.ts
  domain/repositories/recipes/RecipeCommentRepository.ts
  domain/repositories/recipes/RecipeRepository.ts
  infrastructure/repositories/recipes/SbRecipeCommentImageRepository.ts
  infrastructure/repositories/recipes/SbRecipeCommentRepository.ts
Labels: recipe

#143 Feat/romanne choiti/#141
  app/api/recipe-comments/route.ts
  application/recipes/dto/RecipeCommentDto.ts
  domain/repositories/recipes/RecipeCommentImageRepository.ts
  domain/repositories/recipes/RecipeCommentRepository.ts
  infrastructure/repositories/recipes/SbRecipeCommentImageRepository.ts
Labels: recipe

#147 Feat/hyun9758/#130
  app/(user)/boards/page.tsx
  app/api/boards/route.ts
  application/board/DfBoardUsecase.ts
  application/board/dto/BoardDto.ts
  components/board/detail/post/post.tsx
  components/board/filterBar/filterBar.style.ts
  components/board/filterBar/filterBar.tsx
  components/board/main/cardPost/cardPost.tsx
  components/board/main/cardPost/cardPostItem.tsx
  components/board/optionButton/optionButton.style.ts
  components/board/optionButton/optionButton.tsx
  domain/entities/Board.ts
  infrastructure/repositories/boards/SbBoardImageRepository.ts
  infrastructure/repositories/boards/SbBoardRepostory.ts
Labels: board

#139 [Feat] 유저 소셜 로그인 연결 및 클린 아키텍처 구현
  app/(user)/auth/page.tsx
  app/api/users/route.ts
  application/users/DfUsersUsecase.ts
  application/users/dto/UserDto.ts
  components/user/login/exchangeCodeforToken.ts
  components/user/login/login.style.ts
  components/user/login/login.tsx
  domain/entities/auth/User.ts
  domain/repositories/users/UserRepository.ts
  infrastructure/repositories/users/SbUserRepository.ts
  public/google_logo.svg
Labels: admin

#150 커뮤니티 - 페이지네이션
  app/(user)/boards/page.tsx
  application/board/DfBoardListUsecase.ts
Labels: board

#157 [Feat] 02/07 hyun9758 커뮤니티 - 태그 API 연결 #152
  app/(user)/boards/page.tsx
  app/api/board-tags/route.ts
  app/api/recipe-tags/route.ts
  app/api/recipes/route.ts
  application/board/DfBoardTagUsecase.ts
  components/board/optionButton/optionButton.tsx
  domain/entities/RecipeTag.ts
  domain/repositories/BoardTagRepository.ts
  infrastructure/repositories/boards/SbBoardTagRepostitory.ts
Labels: board

#159 Feat/romanne choiti/#144
  app/(user)/recipes/[id]/page.tsx
  app/api/recipe-comments/route.ts
  application/recipe-comment/DfRecipeCommentListUsecase.ts
  application/recipe-comment/dto/RecipeCommentWithImageDto.ts
  components/recipe/recipeDetail/cookingStep/cookingSteps.tsx
  components/recipe/recipeDetail/recipeReview/cookReview.tsx
  components/recipe/recipeDetail/recipeReview/photoReview.tsx
  components/recipe/recipeDetail/recipeUserProfile/recipeUserProfile.tsx
  components/recipe/recipeDetail/reviewModal/reviewModal.tsx
  domain/repositories/RecipeCommentRepository.ts
  infrastructure/repositories/recipes/SbRecipeCommentRepository.ts
Labels: recipe

#163 [Feat] 02/07 hyun9758 커뮤니티 - 필터링 기능 구현 #152
  app/(user)/boards/page.tsx
  components/board/optionButton/optionButton.tsx
  infrastructure/repositories/recipes/SbRecipeTagRepository.ts
Labels: board

#165 [Feat] 02/09 hanjeonghyun 풀페이지스크롤 구현 #124
  components/index/pages/subPage.style.ts
  components/index/pages/subPage.tsx
Labels: main

#168 Feat/hanjeonghyun/#167
  app/admin/boards/page.tsx
  app/admin/users/page.tsx
  app/api/users/route.ts
  components/index/admin/table/table.tsx
  infrastructure/repositories/boards/SbBoardRepository.ts
Labels: admin

#170 Feat/romanne choiti/#161
  app/(user)/recipes/[id]/page.tsx
  app/api/recipe-comments/route.ts
  app/api/recipes/route.ts
  application/recipe-comment/DfRecipeCommentListUsecase.ts
  application/recipe-comment/dto/RecipeCommentCreateDto.ts
  application/recipe-comment/dto/RecipeCommentDto.ts
  application/recipe-comment/dto/RecipeCommentImageDto.ts
  application/recipe-comment/dto/RecipeCommentImageUpdate.ts
  application/recipe-comment/dto/RecipeCommentUpdateDto.ts
  application/recipe-comment/dto/RecipeCommentWithImageDto.ts
  components/recipe/recipeDetail/recipeReview/cookReview.style.ts
  components/recipe/recipeDetail/recipeReview/cookReview.tsx
  components/recipe/recipeDetail/recipeReview/photoReview.tsx
  components/recipe/recipeDetail/reviewModal/reviewModal.tsx
  domain/entities/RecipeComment.ts
  domain/repositories/RecipeCommentImageRepository.ts
  domain/repositories/RecipeCommentRepository.ts
  infrastructure/repositories/recipes/SbRecipeCommentImageRepository.ts
  infrastructure/repositories/recipes/SbRecipeCommentRepository.ts
Labels: recipe

#172 [Fix] 02/10 RomaneeChoiti reviewImgRender #171
  app/(user)/recipes/[id]/page.tsx
  app/api/recipe-comments/route.ts
  application/recipe-comment/DfRecipeCommentListUsecase.ts
  application/recipe-comment/dto/RecipeCommentCreateDto.ts
  application/recipe-comment/dto/RecipeCommentImageDto.ts
  components/recipe/recipeDetail/recipeReview/cookReview.tsx
  components/recipe/recipeDetail/recipeReview/photoReview.style.ts
  components/recipe/recipeDetail/recipeReview/photoReview.tsx
  domain/repositories/RecipeCommentImageRepository.ts
  infrastructure/repositories/recipes/SbRecipeCommentImageRepository.ts
  infrastructure/repositories/recipes/SbRecipeCommentRepository.ts
Labels: recipe

#178 커뮤니티 - 인기순 필터링 기능 구현
  app/(user)/boards/page.tsx
  app/api/boards/route.ts
  components/board/filterBar/filterBar.tsx
  components/board/main/cardPost/cardPostItem.tsx
Labels: board

#180 커뮤니티 - 댓글 기능 구현
  app/(user)/boards/page.tsx
  app/api/board-comments/route.ts
  application/board/DfBoardCommentUsecase.ts
  application/board/dto/BoardCommentDto.ts
  domain/repositories/BoardCommentRepository.ts
  infrastructure/repositories/boards/SbBoardCommentRepository.ts
Labels: board

#182 Fix/romanee choiti/#173
  app/(user)/recipes/[id]/page.tsx
  components/recipe/recipeDetail/reviewModal/reviewModal.tsx
Labels: recipe

#192 [Fix] 02/11 hanjeonghyun 게시글 이미지 등록 개선 #190
  app/(user)/boards/create/page.tsx
  app/api/boards/route.ts
  application/board/DfBoardCreateUsecase.ts
  application/board/DfBoardListUsecase.ts
  application/board/dto/BoardCreateDto.ts
  application/board/dto/BoardImageDto.ts
  domain/repositories/BoardImageRepository.ts
  infrastructure/repositories/boards/SbBoardImageRepository.ts
Labels: board

#195 Fix/hanjeonghyun/#187
  application/board/DfBoardDetailUsecase.ts
  components/board/detail/post/post.style.ts
  components/board/detail/post/post.tsx
  domain/entities/BoardImage.ts
  infrastructure/repositories/boards/SbBoardImageRepository.ts
  next.config.ts
Labels: board

#196 [Feat] 02/11 hanjeonghyun 유효성 에러 메세지 추가 #191
  components/user/login/loginBox/loginForm.style.ts
  components/user/login/loginBox/loginForm.tsx
Labels: admin

#200 [Feat] 02/12 hanjeonghyun 게시글 삭제 기능 추가 #199
  app/api/boards/detail/route.ts
  application/board/DfBoardDetailUsecase.ts
  components/board/detail/post/post.style.ts
  components/board/detail/post/post.tsx
  domain/repositories/BoardRepository.ts
  infrastructure/repositories/boards/SbBoardRepository.ts
Labels: board

#202 [Feat] 02/12 hanjeonghyun 어드민 레시피 테이블 추가 #201
  app/admin/recipes/page.tsx
Labels: admin

#208 Feat/hyun9758/#197
  app/api/recipe-comments/route.ts
  application/board/dto/BoardCommentDto.ts
  components/board/detail/comment/comment.style.ts
  components/board/detail/comment/comment.tsx
  domain/entities/BoardComment.ts
  infrastructure/repositories/boards/SbBoardCommentRepository.ts
Labels: board

#205 [Feat] 02/12 hyun9758 댓글 삭제 기능 구현 #189
  app/api/recipe-comments/route.ts
  components/board/detail/comment/comment.style.ts
  components/board/detail/comment/comment.tsx
Labels: board

#207 Fix/Romaneechoiti/#173
  app/(user)/recipes/[id]/page.tsx
  app/api/users/communityInfo/route.ts
  application/users/dto/UserInfoModalDto.ts
  components/header/header.tsx
  components/recipe/recipeDetail/recipeReview/cookReview.tsx
  components/recipe/recipeDetail/recipeReview/photoReview.tsx
  components/user/login/userInfoModal/userInfoModal.style.ts
  components/user/login/userInfoModal/userInfoModal.tsx
  domain/repositories/BoardRepository.ts
  domain/repositories/RecipeImageRepository.ts
  domain/repositories/RecipeRepository.ts
  infrastructure/repositories/boards/SbBoardRepository.ts
  infrastructure/repositories/recipes/SbRecipeImageRepository.ts
  infrastructure/repositories/recipes/SbRecipeRepository.ts
  public/DfLevel.png
  public/logo.png
Labels: recipe

#210 어드민 - 관리자 로그인시 관리자 페이지로 이동
  components/index/admin/adminPage.tsx
  components/user/login/loginBox/loginForm.tsx
  store/useAuthStore.ts
Labels: admin

#213 Style/hanjeonghyun/#209
  app/(user)/boards/page.tsx
  app/api/users/account/route.ts
  application/users/dto/UserDto.ts
  components/board/detail/comment/comment.style.ts
  components/board/detail/comment/comment.tsx
  components/board/detail/post/post.style.ts
  components/board/detail/post/post.tsx
  components/board/detail/profile/profile.style.ts
  components/board/detail/profile/profile.tsx
  components/board/main/cardPost/cardPostItem.tsx
  hook/useFindUserbyUserId.ts
Labels: board

#219 [Design] 02/13 hanjeonghyun 메인 페이지 개선 #214
  app/globals.css
  components/index/pages/pagesInfo.json
  components/index/pages/subPage.style.ts
  public/main_board.png
  public/main_food.png
  public/main_recipe.png
Labels: main

#221 [Fix] 02/13 hanjeonghyun 대표 이미지 개선 #220
  components/board/main/cardPost/cardPostItem.tsx
  infrastructure/repositories/boards/SbBoardImageRepository.ts
Labels: board

#224 [Remove] 02/13 hanjeonghyun 충돌해결용 파일 삭제
  .github/ISSUE_TEMPLATE/custom.md
Labels: bug
