Repository FRONT-END-BOOTCAMP-PLUS-3/A-maewoClub, pull requests merged in 2025-01, with the labels that each got.

#9 4 recipe components
  app/(anon)/layout.tsx
  app/(anon)/page.tsx
  app/globals.css
  app/layout.tsx
  app/login/page.tsx
  app/page.module.css
  app/page.tsx
  components/header/header.style.ts
  components/header/header.tsx
  package-lock.json
Labels: main

#10 [Feat] 01/23 hanjeonghyun 메인 화면 레이아웃 구성 구현 #7
  app/(anon)/page.tsx
  components/index/greeting.tsx
  components/index/pages/pagesInfo.json
  components/index/pages/subPage.style.ts
  components/index/pages/subPage.tsx
Labels: main

#21 [Fix] 01/23 Jyservice781 card_update #12
  app/(user)/layout.tsx
  app/(user)/page.tsx
  app/(user)/recipes/page.tsx
  app/login/page.tsx
  components/recipe/recipe.style.ts
  components/recipe/recipeCard/recipeCard.tsx
Labels: main

#22 [Feat] 01/23 hanjeonghyun 커뮤니티 상세페이지 프로필 컴포넌트 #18
  components/board/detail/profile/profile.style.ts
  components/board/detail/profile/profile.tsx
Labels: board

#24 [Feat] 01/23 hanjeonghyun 게시판 상세페이지 댓글 컴포넌트 #20
  components/board/detail/comment/comment.style.ts
  components/board/detail/comment/comment.tsx
Labels: board

#30 [Fix] 01/24 hanjeonghyun 댓글 컴포넌트 인풋 박스 추가
  app/(user)/page.tsx
  components/board/detail/comment/comment.style.ts
  components/board/detail/comment/comment.tsx
  components/board/detail/profile/profile.style.ts
  components/board/detail/profile/profile.tsx
Labels: board

#31 Feat/hyun9758/#29
  app/(user)/board/page.tsx
  components/board/filterBar/filterBar.style.ts
  components/board/filterBar/filterBar.tsx
Labels: board

#35 Feat/romanne choiti/#16
  app/(User)/layout.tsx
  app/(User)/recipes/[id]/page.tsx
  components/footer/footer.style.ts
  components/header/header.tsx
  components/recipe/recipeDetail/cookingStep/cookReview.style.ts
  components/recipe/recipeDetail/cookingStep/cookReview.tsx
  components/recipe/recipeDetail/cookingStep/cookingStep.style.ts
  components/recipe/recipeDetail/cookingStep/cookingSteps.tsx
  components/recipe/recipeDetail/recipeDetailPage.style.ts
  components/recipe/recipeDetail/recipeReview/photoReview.style.ts
  components/recipe/recipeDetail/recipeReview/photoReview.tsx
  components/recipe/recipeDetail/recipeUserProfill/recipeUserProfile.style.ts
  components/recipe/recipeDetail/recipeUserProfill/recipeUserProfile.tsx
  public/recipe.jpg
Labels: recipe

#36 Feat/jyservice781/#12
  app/(User)/boards/page.tsx
  app/(User)/recipes/[id]/page.tsx
  app/(user)/recipes/page.tsx
  app/layout.tsx
  components/header/header.style.ts
  components/recipe/recipe.style.ts
  components/recipe/recipeCard/recipeCard.style.ts
  components/recipe/recipeCard/recipeCard.tsx
  components/recipe/recipeCard/recipeCardSlide.style.ts
  components/recipe/recipeCard/recipeCardSlide.tsx
  components/recipe/recipeDetail/cookingStep/cookReview.tsx
  components/recipe/recipeDetail/cookingStep/cookingSteps.tsx
  components/recipe/recipeDetail/recipeReview/photoReview.tsx
  components/recipe/recipeDetail/recipeUserProfile/recipeUserProfile.style.ts
  components/recipe/recipeDetail/recipeUserProfile/recipeUserProfile.tsx
  domain/entities/Tag.ts
  public/Dfprofile.png
Labels: recipe

#37 [Feat] 01/24 hanjeonghyun 커뮤니티의 게시글 상세 페이지 구현
  app/(user)/board/detail/page.tsx
  components/board/detail/comment/comment.style.ts
  components/board/detail/comment/comment.tsx
  components/board/detail/post/post.style.ts
  components/board/detail/post/post.tsx
  components/board/detail/profile/profile.tsx
Labels: board

#42 [Style] 01/24 hanjeonghyun 프로필 스타일 사이즈 수정 #33
  components/board/detail/comment/comment.style.ts
  components/board/detail/profile/profile.style.ts
Labels: board

#47 [Feat] 01/24 hanjeonghyun 글 등록 페이지 제목/내용 컴포넌트 #44
  components/board/create/Input/contentInput.tsx
  components/board/create/Input/input.style.ts
  components/board/create/Input/titleInput.tsx
Labels: board

#49 [Fix] 01/24 hanjeonghyun 컴포넌트에 'use client' 추가 #34
  components/board/detail/comment/comment.tsx
  components/board/detail/post/post.tsx
  components/board/detail/profile/profile.tsx
  components/index/pages/subPage.tsx
Labels: board

#50 [Feat] 01/24 hyun9758 커뮤니티 - 텍스트 컴포넌트 작성 #48
  components/board/button/button.style.ts
  components/board/button/button.tsx
  components/board/filterBar/filterBar.tsx
  components/board/filterButton/filterButton.style.ts
  components/board/filterButton/filterButton.tsx
  components/board/searchBar/searchBar.tsx
  components/board/textForm/textForm.style.ts
  components/board/textForm/textForm.tsx
Labels: board

#51 Feat/jyservice781/#38
  app/(user)/boards/detail/page.tsx
  app/(user)/boards/page.tsx
  app/(user)/layout.tsx
  app/(user)/quests/page.tsx
  app/(user)/recipes/[id]/page.tsx
  app/(user)/recipes/page.tsx
  app/globals.css
  components/board/button/button.tsx
  components/board/detail/comment/comment.tsx
  components/board/detail/post/post.tsx
  components/board/detail/profile/profile.tsx
  components/board/filterBar/filterBar.tsx
  components/board/filterButton/filterButton.tsx
  components/board/main/cardPost/cardPost.tsx
  components/board/main/cardPost/cardPostItem.tsx
  components/header/header.style.ts
  components/header/header.tsx
  components/recipe/cardPaging/cardPaging.style.ts
  components/recipe/cardPaging/cardPaging.tsx
  components/recipe/recipe.style.ts
  components/recipe/recipeCard/recipeCard.style.ts
  package-lock.json
Labels: recipe

#54 [Feat] 01/27 Jyservice781 Feat_Tag #52
  app/(user)/recipes/page.tsx
  components/header/header.tsx
  components/recipe/recipeCard/recipeCard.style.ts
  components/recipe/recipeCard/recipeCard.tsx
  components/recipe/recipeCard/recipeCardSlide.style.ts
  components/recipe/recipeCard/recipeCardSlide.tsx
  components/recipe/tag/tag.style.ts
  components/recipe/tag/tag.tsx
Labels: recipe

#57 [Feat] 01/28 Jyservice781 Feat/create_recipe #55
  app/(user)/board/page.tsx
  app/(user)/recipes/create/page.tsx
  components/header/header.tsx
  components/recipe/create/recipeCreate.style.ts
  components/recipe/create/recipeCreate.tsx
  components/recipe/recipeDetail/recipeReview/cookReviewUserDetails.tsx
  components/user/login/login.style.ts
  components/user/login/login.tsx
  package-lock.json
  package.json
Labels: recipe, main

#60 Feat/jyservice781/#58
  app/(user)/recipes/create/page.tsx
  app/(user)/recipes/page.tsx
  components/recipe/create/recipeCreate.tsx
  components/recipe/create/uploadImage/uploadImage.style.ts
  components/recipe/create/uploadImage/uploadImage.tsx
  components/recipe/recipe.style.ts
  components/recipe/recipeDetail/recipeDetailPage.style.ts
  components/recipe/recipeDetail/recipeReview/photoReview.tsx
Labels: recipe, main

#63 [Feat] 01/28 hanjeonghyun 게시글 등록 페이지 구현 #61
  app/(user)/boards/create/page.tsx
  components/board/create/Input/contentInput.tsx
  components/board/create/Input/titleInput.tsx
Labels: board

#62 [Feat] 01/28 hanjeonghyun 등록 페이지 이미지 컴포넌트 구현 #45
  components/board/create/imageBox/imageBox.style.ts
  components/board/create/imageBox/imageBox.tsx
Labels: board

#65 [Fix] 01/28 hanjeonghyun 오류 해결을 위한 일부 코드 수정 #64
  app/(user)/boards/create/page.tsx
  app/(user)/boards/detail/page.tsx
  components/board/detail/comment/comment.tsx
  components/board/detail/post/post.style.ts
  components/board/detail/post/post.tsx
  components/board/detail/profile/profile.tsx
  components/index/pages/pagesInfo.json
Labels: board

#66 Feat/romanne choiti/#59
  app/(user)/recipes/[id]/page.tsx
  components/recipe/create/recipeCreate.style.ts
  components/recipe/create/recipeCreate.tsx
  components/recipe/create/recipeStepsAndImage.tsx
  components/recipe/create/stepAndImage.style.ts
  components/recipe/recipeDetail/cookingStep/cookingStep.style.ts
  components/recipe/recipeDetail/cookingStep/cookingSteps.tsx
  components/recipe/recipeDetail/recipeDetailPage.style.ts
  components/recipe/recipeDetail/recipeReview/cookReview.style.ts
  components/recipe/recipeDetail/recipeReview/cookReview.tsx
  components/recipe/recipeDetail/recipeReview/photoReview.style.ts
  components/recipe/recipeDetail/recipeReview/photoReview.tsx
  components/recipe/recipeDetail/recipeUserProfile/recipeUserProfile.style.ts
  components/recipe/recipeDetail/recipeUserProfile/recipeUserProfile.tsx
  components/recipe/recipeDetail/reviewModal/reviewModal.style.ts
  components/recipe/recipeDetail/reviewModal/reviewModal.tsx
Labels: recipe

#70 [Modify] 01/28 hanjeonghyun img->next/image로변경 #68
  components/board/detail/post/post.style.ts
  components/board/detail/post/post.tsx
Labels: enhancement

#71 Feat/hyun9758/#69
  app/(user)/boards/page.tsx
  components/board/main/cardPost/cardPost.tsx
Labels: board

#73 [Feat] 01/28 hanjeonghyun 커뮤니티 라우팅 추가 #72
  app/(user)/boards/[id]/page.tsx
  app/(user)/boards/page.tsx
  components/board/main/cardPost/cardPostItem.tsx
Labels: board

#77 Fix/romanne choiti/#67
  app/(user)/recipes/[id]/page.tsx
  components/recipe/create/recipeStepsAndImage.tsx
  components/recipe/create/stepAndImage.style.ts
  components/recipe/recipeDetail/recipeIngredient/ingredient.style.ts
  components/recipe/recipeDetail/recipeIngredient/ingredient.tsx
  components/recipe/recipeDetail/reviewModal/reviewModal.style.ts
Labels: recipe

#78 Feat/jyservice781/#58
  app/(user)/recipes/create/page.tsx
  components/recipe/create/imagePreview/ImagePreview.style.ts
  components/recipe/create/imagePreview/ImagePreviewList.tsx
  components/recipe/create/recipeCreate.style.ts
  components/recipe/create/recipeCreate.tsx
  components/recipe/create/recipeStepsAndImage.tsx
  components/recipe/create/uploadImage/uploadImage.style.ts
  components/recipe/create/uploadImage/uploadImage.tsx
  infrastructure/repostiories/SbRecipeImageRepository.ts
Labels: recipe
